.top-icon {
	background: #fff;
	color: #15627a;
	border-radius: 100%;
	padding: 15px;
}

nav{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

nav span{
	display: inline-flex;
	list-style: none;
}
nav a {
	font-weight: 600;
	/* padding: 25px 0 30px 34px; */
	margin: 20px 5px 10px 10px;
}
.active--link {
	color: green;
}
span a:not(.active--link) {
	color: #555;
	text-decoration: none;
}


.section-bg {
	background: #162e53e7;
}

.image-style {
	max-width: 230px;
	position: relative;
	left: 40%;
	top: 10%;
	margin-bottom: 20px;


}

.icons {
	font-size: 260%;
	opacity: 0.5;
}

.stats-icons {
	font-size: 200%;
	color: #ffffff;
}

.stats-col1--bg {
	background: #13a36c;
	height: 90%;
}
.stats-col4--bg {
	background: #162e53e7;
}

.underline-title {
	text-decoration-line: underline;
	text-decoration-color: #13a36c;
}
/* .footer-icons {
	color: #fff;
	border: 1px solid;
	border-radius: 2px round;
} */

.footer-icons{
	border-radius: 20px solid;
	color: #fff;
	margin: 10px;
	border: 1px solid;


}
.footer-line {
	opacity: 0.3;
	font-weight: 900;
}

.address-info {
	opacity: 0.5;
}
